body {
  background-color: #E9F5F6;
}

#introDiv {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

#modImpsDiv {
  padding: 10px;
}

#setButton1Div{
  padding: 10px;
}

#depListDiv{
  padding: 10px;
}

#modParametersDiv{
  padding: 10px;
  line-height: 30px;
}

#setButton2Div{
  padding: 10px;
}

#exportButtonDiv{
  padding: 10px;
}
